* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bgColor {
  background-color: #79b1e5;
}

form {
  display: block;
  padding: 2em;
}

@media (max-width: 768px) {
  .bgImg {
    height: 600px !important;
  }
}
